In [5]:
import calendar

cal = calendar.calendar(2010)
print(cal)

                                  2010

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [6]:
#isleap  判断是否是闰年

calendar.isleap(2000)

True

In [9]:
# leapdays:  制定年份之间的闰年个数
calendar.leapdays(2001,2110)

26

In [8]:
help(calendar.leapdays)

Help on function leapdays in module calendar:

leapdays(y1, y2)
    Return number of leap years in range [y1, y2).
    Assume y1 <= y2.

In [10]:
print(calendar.month(2018,3))

     March 2018
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [16]:
help(calendar.monthrange)

Help on function monthrange in module calendar:

monthrange(year, month)
    Return weekday (0-6 ~ Mon-Sun) and number of days (28-31) for
    year, month.

# time

In [22]:
import time as t

In [23]:
print(time.timezone)

-28800

In [19]:
print(time)

<module 'time' (built-in)>

In [25]:
print(time.daylight)

0

In [21]:
time.time()

1550825174.5398803

In [28]:
a = t.localtime()
a.tm_yday

53

In [29]:
a

time.struct_time(tm_year=2019, tm_mon=2, tm_mday=22, tm_hour=16, tm_min=48, tm_sec=38, tm_wday=4, tm_yday=53, tm_isdst=0)

In [33]:
tt = time.asctime(time.localtime())
print(tt)

Fri Feb 22 16:51:02 2019

In [34]:
print(type(tt))

<class 'str'>

In [36]:
print(time.ctime())

Fri Feb 22 17:31:20 2019

In [37]:
lt = time.localtime()
ts = time.mktime(lt)
print(ts)

1550827942.0

In [38]:
for i in range(2,10):
    print(i)
    time.sleep(2)

2
3
4
5
6
7
8
9

In [40]:
print(time.localtime())

time.struct_time(tm_year=2019, tm_mon=2, tm_mday=22, tm_hour=17, tm_min=37, tm_sec=7, tm_wday=4, tm_yday=53, tm_isdst=0)

In [41]:
print(time.clock())

3.040928

In [43]:
t = time.localtime()
ft = time.strftime("%Y年%m月%d日 %H:%M", t)
print(ft)

2019年02月22日 17:47

In [44]:
import datetime

In [47]:
t = datetime.date(2019,2,2)
print(t)
print(t.day)

2019-02-02
2

In [48]:
a = [i for i in range(10)]

In [49]:
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
a = []
for i in range(10):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
import timeit
def do():
    num = 3
    for i in range(num):
        print(i)
        
t = timeit.timeit(stmt= do,number = 10)
print(t)

0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0.008282618997327518

In [56]:
import os
mydir = os.getcwd()
print(mydir)

/home/tlxy/tulingxueyuan

In [58]:
os.chdir("/home/tlxy")
mydir = os.getcwd()
print(mydir)

/home/tlxy

In [60]:
ld = os.listdir()
print(ld)

['.viminfo', '.xsession-errors.old', '.sudo_as_admin_successful', '.bashrc', '.ICEauthority', '.sunpinyin', '图片', '.profile', '.conda', '.java', '.presage', '.pki', '模板', '.sogouinput', '.config', 'tulingxueyuan', '.Xdefaults', '音乐', '视频', '.bash_history', '.dmrc', '下载', '.vboxclient-clipboard.pid', '.vboxclient-draganddrop.pid', '.PyCharm2017.3', '.bash_logout', '.gconf', '.local', '.xsession-errors', '.mozilla', '.gnupg', '.ipynb_checkpoints', '.thumbnails', '文档', '公共的', '.cache', '.ipython', '桌面', '.nano', '.vboxclient-seamless.pid', '.vboxclient-display.pid', '.xscreensaver', '.xinputrc', '.Xauthority']

In [1]:
import shutil

In [5]:
import random
print(random.random())

0.16837695898220484

In [20]:
sets = set()
count = 0
while len(sets) <= 99:
    a = random.randint(0,100)
    sets.add(a)
    count += 1
print(sets)
print(count)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
362

In [16]:
a = random.randint(0,2)
print(a)

1

In [29]:
b = []
count = 0
while True:
    a = random.randint(0,100)
    if a not in b:
        b.append(a)
    if len(b) == 100:
        break
    count += 1
print(b,'\n',count)

[70, 11, 30, 19, 68, 78, 37, 56, 59, 63, 44, 53, 20, 5, 39, 84, 9, 81, 17, 18, 52, 13, 2, 0, 61, 22, 75, 16, 87, 10, 62, 65, 71, 60, 40, 24, 83, 45, 3, 58, 72, 66, 77, 6, 85, 34, 1, 42, 73, 92, 67, 95, 49, 48, 27, 82, 4, 100, 88, 79, 41, 64, 99, 69, 31, 80, 97, 94, 98, 50, 96, 74, 29, 76, 26, 8, 23, 47, 35, 90, 91, 89, 21, 14, 46, 28, 55, 43, 25, 51, 36, 7, 54, 32, 33, 57, 38, 86, 15, 12]
 583

In [30]:
l = [i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
a= random.choice(l)
a

9

In [36]:
random.shuffle(l)
l

[5, 7, 1, 9, 6, 2, 8, 0, 3, 4]